<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="AlertDAO">

<!-- 미현 -->

	<!-- 읽지 않은 알림 건수 조회 -->
	<select id="getAlertCnt" resultType="int">
		SELECT 	COUNT(ALERT_READ) 
		FROM 	ALERT 
		WHERE
				M_ID	=	#{m_id}
		AND		ALERT_READ = 0
	</select>

	<!-- 알림의 특정 그룹에 속한 아이디 조회 -->
	<select id="getAlertGroupId" resultType="alert">
		SELECT 	M_ID
		FROM 	ALERT
		WHERE 	ALERT_GNUM = #{alert_gnum}
	</select>

	<!-- 모든 나의 알람 메시지 확인하기 -->
	<select id="getAlertList" resultType="alert">
		SELECT
				ALERT_NUM,
				ALERT_CONTENT,
				ALERT_DTTM,
				M_ID,
				ALERT_GNUM,
				ALERT_READ
		FROM 	ALERT
		WHERE	M_ID = #{m_id}
		ORDER BY ALERT_NUM
	</select>
	
	<!-- 시용자의 읽지 않은 알람 메시지 확인하기 -->
	<select id="getAlertNotRead" resultType="alert">
		SELECT
				ALERT_NUM,
				ALERT_CONTENT,
				ALERT_DTTM,
				M_ID,
				ALERT_GNUM,
				ALERT_READ
		FROM 	ALERT
		WHERE	M_ID = #{m_id}
		AND 	ALERT_READ = 0
		ORDER BY ALERT_NUM
	</select>
	
	<!-- 사용자의 읽은 알람 메시지 확인하기 -->
	<select id="getAlertRead" resultType="alert">
		SELECT
				ALERT_NUM,
				ALERT_CONTENT,
				ALERT_DTTM,
				M_ID,
				ALERT_GNUM,
				ALERT_READ
		FROM 	ALERT
		WHERE	M_ID = #{m_id}
		AND 	ALERT_READ = 1
		ORDER BY ALERT_NUM
	</select>

 	<!-- 메시지 확인 후 수신 여부 업데이트
 	안 읽은 메시지를 한꺼번에 확인하기 때문에 안 읽은 메시지 전부를 읽은 메시지로 변경함 -->
 	<update id="updateAlertRead" parameterType="alert">
 		UPDATE ALERT SET
 		ALERT_READ = 1
 		WHERE M_ID = #{m_id}
 		AND ALERT_READ = 0
 	</update>

</mapper>