<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChallengeDAO" >
	<select id="getChallengeList" resultType="challenge">
		SELECT	CL_NUMBER,
				CL_STATUS,
				CL_NAME,
				CL_CONTENTS,
				CL_SPORTS,
				CL_COUNT,
				CL_END,
				CL_SCORE
		FROM	CHALLENGE
	</select>

</mapper>