<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberDAO">

<!--
	1. 회원가입
	2. 아이디 중복 확인
	3. 이름이랑 이메일로 아이디 가져오기
	4-1. 아이디, 이름, 이메일 정보 확인
	4-2. 임시 비밀번호 업데이트 하기
 -->

<!-- 1. 회원가입 -->
		  	<insert id="insertMember" parameterType="members">
					INSERT INTO members (	M_ID,
											M_SALT,
											M_PASSWORD,
											M_NAME,
											M_NICK,
											M_IMAGE_CD,
											M_XY,
											M_LOCATION,
											M_AGE,
											GENDER_CD,
											M_GRANT,
											M_LEVEL_CD,
											M_STATUS_CD,
											M_EMAIL		)
					VALUES (	#{m_id},
								#{m_salt},
								#{m_password},
								#{m_name},
								#{m_nick},
								'jw',
								'jw',
								#{m_location},
								${m_age},
								#{gender_cd},
								'U',
								'jw',
								'M01',
								#{m_email}		)
		  	</insert>


<!-- 2. 아이디 중복 확인 -->
		  	<select id="checkId" resultType="int" parameterType="String">
					SELECT COUNT(*)
					FROM members
					WHERE M_ID = #{m_id}
		  	</select>


<!-- 3. 이름이랑 이메일로 아이디 가져오기 -->
		  	<select id="forgotId" resultType="string" parameterType="members">
		  			SELECT M_ID
		  			FROM members
		  			WHERE M_NAME = #{m_name} AND M_EMAIL = #{m_email}
		  	</select>


<!-- 4-1. 아이디, 이름, 이메일 정보 확인 -->
			<select id="forgotPw" resultType="int" parameterType="members">
					SELECT COUNT(*)
					FROM MEMBERS
					WHERE 		M_ID = #{m_id} 
							AND M_NAME = #{m_name} 
							AND M_EMAIL = #{m_email}
			</select>


<!-- 4-2. 임시 비밀번호로 업데이트 하기 -->
			<update id="updateTempPw" parameterType="members">
					UPDATE MEMBERS
					SET M_SALT='', M_PASSWORD = #{m_password}
					WHERE M_ID = #{m_id}
			</update>

</mapper>