<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberDAO">

<!--
	1. 회원가입
	2. 아이디 중복 확인
	3. 이름이랑 이메일로 아이디 가져오기
	4-1. 아이디, 이름, 이메일 정보 확인
	4-2. 임시 비밀번호 업데이트 하기
	5. 로그인 체크 (회원 한명 조회)
	6. 비밀번호 변경
 -->

<!-- 1. 회원가입 -->
		  	<insert id="insertMember" parameterType="members">
					INSERT INTO members (	M_ID,
											M_PASSWORD,
											M_NAME,
											M_NICK,
											M_IMAGE_CD,
											M_XY,
											M_LOCATION,
											M_AGE,
											GENDER_CD,
											M_GRANT,
											M_LEVEL_CD,
											M_STATUS_CD,
											M_EMAIL,
											M_RADIUS,
											M_NOTICE1,
											M_NOTICE2,
											M_NOTICE3
										)
					VALUES (	#{m_id},
								#{m_password},
								#{m_name},
								#{m_nick},
								'jw',
								#{m_xy},
								#{m_location},
								${m_age},
								#{gender_cd},
								'ROLE_User',
								'jw',
								'M01',
								#{m_email},
								10,
								1,
								1,
								1
							)
		  	</insert>


<!-- 2. 아이디 중복 확인 -->
		  	<select id="checkId" resultType="int" parameterType="String">
					SELECT COUNT(*)
					FROM members
					WHERE M_ID = #{m_id}
		  	</select>


<!-- 3. 이름이랑 이메일로 아이디 가져오기 -->
		  	<select id="forgotId" resultType="string" parameterType="members">
		  			SELECT M_ID
		  			FROM members
		  			WHERE M_NAME = #{m_name} AND M_EMAIL = #{m_email}
		  	</select>


<!-- 4-1. 아이디, 이름, 이메일 정보 확인 -->
			<select id="forgotPw" resultType="int" parameterType="members">
					SELECT COUNT(*)
					FROM MEMBERS
					WHERE 		M_ID = #{m_id} 
							AND M_NAME = #{m_name} 
							AND M_EMAIL = #{m_email}
			</select>


<!-- 4-2. 임시 비밀번호로 업데이트 하기 -->
			<update id="updateTempPw" parameterType="members">
					UPDATE MEMBERS
					SET M_SALT = #{m_salt}, M_PASSWORD = #{m_password}
					WHERE M_ID = #{m_id}
			</update>
			
			
<!-- 5. 로그인 체크 (회원 한명 조회) -->
			<select id="loginCheck" parameterType="members" resultType="members">
					SELECT 	M_ID, M_PASSWORD, M_GRANT,
							M_NAME, M_NICK, M_IMAGE_CD, M_XY, M_LOCATION, M_AGE, GENDER_CD, M_LEVEL_CD,
							M_RADIUS, M_NOTICE1, M_NOTICE2, M_NOTICE3, M_EMAIL
					FROM MEMBERS
					WHERE M_ID = #{m_id}
			</select>
			
			
<!-- 6. 비밀번호 변경 -->
			<update id="changePassword" parameterType="members">
					UPDATE MEMBERS
					SET M_SALT = #{m_salt}, M_PASSWORD = #{m_password}
					WHERE M_ID = #{m_id}
			</update>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
<!--진영  -->


 <!-- 01. 회원정보 상세조회 -->
    <select id="viewMember" resultType="members">
        SELECT 
          m_id AS m_id, 
          m_name AS m_name,
          m_email AS m_email
          <!-- user_regdate AS userRegdate,
          user_regdate AS userUpdatedate -->
        FROM MEMBERS
       <!--  WHERE m_id = #{m_id} -->
        WHERE m_id ='test6'
    </select>
    
    <!-- 02. 회원정보 수정처리 -->
    <update id="updateMember">
        UPDATE MEMBERS
        SET
            user_pw = #{m_password},
            m_name = #{m_name},
            m_email = #{m_email}
          <!--   user_updatedate = SYSDATE -->
        WHERE
            user_id = #{userId}    
    </update>
    
    <!-- 03. 회원정보 삭제 처리 -->
    <delete id="deleteMember">
        DELETE FROM MEMBERS
        WHERE m_id = #{m_id}
    </delete>
   
  <!-- 04. 비밀번호 체크 -->
    <select id="checkPw" resultType="int">
        SELECT 
            COUNT(*) 
        FROM MEMBERS
        WHERE m_id = #{m_id} AND M_PASSWORD = #{m_password}
    </select>
    
    
<!-- ************  수림    ****************** 
		1. 유저별 알람 정보 불러오기
-->
	
	<!-- 1. 유저별 알람 정보 불러오기 -->      
	<select id="getAlarmInfo" resultType="members">   
		SELECT		M_ID, 
					M_RADIUS, 
					M_NOTICE1,
					M_NOTICE2,
					M_NOTICE3
		FROM 		MEMBERS
		WHERE M_ID = #{m_id}    
	</select>
    
    
    
    







<!-- ************  은영    ******************  -->

<!-- 1. 방에 들어갈때 웹소켓으로 뿌릴 이미지 조회-id로 본인 프로필 이미지 불러오는 쿼리 -->

	<select id="returnImage" parameterType="members" resultType="String">
		SELECT C.CD_NAME
		FROM MEMBERS M, CODE C
		WHERE M.M_ID = #{m_id} AND C.CD_ID=#{m_image_cd}
	</select>
	
<!-- 2. id로 멤버 한명 조회 -->

	<select id="getOneMem" parameterType="members" resultType="members">
		SELECT	M_ID,
				M_SALT,
				M_PASSWORD,
				M_NAME,
				M_NICK,
				M_IMAGE_CD,
				M_XY,
				M_LOCATION,
				M_AGE,
				GENDER_CD,
				M_GRANT,
				M_LEVEL_CD,
				M_STATUS_CD,
				M_RADIUS,
				M_EMAIL,
				M_NOTICE1,
				M_NOTICE2,
				M_NOTICE3
		FROM	MEMBERS
		WHERE	M_ID=#{m_id}
	</select>
</mapper>

