<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="reply">
	
	<!-- 1. 댓글 입력 -->
	<insert id="insertReply">
		INSERT INTO AD_REPLY 
							(ADR_NUMBER, 
							AD_NUMBER, 
							ADR_CONTENTS, 
							M_ID, 
							ADR_HIDDEN)
					VALUES (reply_seq.NEXTVAL, 
							#{ad_number}, 
							#{adr_contents}, 
							#{m_id}, 
							#{adr_hidden})    
	</insert>
	
	<!-- 2. 댓글 목록 -->
	<select id="listReply" resultType="com.yedam.gca.board.vo.ReplyVO">
		<include refid="pagingHeader"/>
			<!-- SELECT ADR_NUMBER, AD_NUMBER, ADR_CONTENTS, M_ID, user_name AS userName, r.ADR_REGDATE, r.updatedate
			FROM AD_REPLY r, MEMBERS m
			WHERE  r.M_ID = m.user_id AND AD_NUMBER=#{ad_number}
			ORDER BY ADR_NUMBER -->
			select USER_ID, 
				USER_PW, 
				USER_NAME
		from TBL_USER;
        
        SELECT
				  r.ADR_NUMBER, 
				  AD_NUMBER, 
				  r.ADR_CONTENTS, 
				  r.M_ID, 
				  r.ADR_HIDDEN AS adr_hidden, 
				  r.ADR_REGDATE, 
				  r.ADR_updatedate,
				  m.name AS userName,
				  	(SELECT 
				  		M_ID 
				  	FROM 
				  		tbl_board 
				  	WHERE 
				  		AD_NUMBER = r.AD_NUMBER) AS writer
			FROM 
			AD_REPLY r, 
			MEMBERS m
			WHERE
			  r.M_ID = m.id
			  AND AD_NUMBER = #{ad_number}
			ORDER BY ADR_NUMBER
		<include refid="pagingFooter"/>
	</select>
	
	<!-- 3. 댓글 상세보기 -->
	<select id="detailReply" resultType="com.yedam.gca.board.vo.ReplyVO">
		SELECT ADR_NUMBER, 
			AD_NUMBER, 
			ADR_CONTENTS,
			M_ID, ADR_REGDATE, 
			adr_updatedate, 
			ADR_HIDDEN AS adr_hidden FROM AD_REPLY
		WHERE ADR_NUMBER = #{adr_number}
	</select>
	
	<!-- 4. 댓글 수정 -->
	<select id="updateReply">
		UPDATE AD_REPLY 
		SET ADR_CONTENTS = #{adr_contents}
		WHERE ADR_NUMBER = #{adr_number}
	</select>
	
	<!-- 5. 댓글 삭제 -->
	<delete id="deleteReply">
		DELETE FROM AD_REPLY
		WHERE ADR_NUMBER = #{adr_number}
	</delete>
	
	<!-- 6 .댓글 갯수(for 페이징처리) -->
	<select id="countReply" resultType="int">
		SELECT COUNT(*) FROM AD_REPLY WHERE AD_NUMBER=#{ad_number}
	</select>
	
	<!-- 페이징 sql -->
	<sql id="pagingHeader">
		SELECT * FROM (
			SELECT ROWNUM AS rn, A.* FROM (
	</sql>
	<sql id="pagingFooter">
			) A
		) WHERE rn BETWEEN #{start} AND #{end}
	</sql>
</mapper>














