<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="SGroupDAO">

<!-- 은영 -->

	<!-- 방정보 한건 조회 -->
	<!-- <select id="getRoomInfo" resultType="">
		SELECT		
		FROM 
	</select> -->
	
	
	
	
	
	
	
<!-- 미현 -->





</mapper>