@charset "UTF-8";
.button-general:hover {
	  background-color: #FEBABA;
	  border: 2px solid #FE9191;
	  border-radius: 7px;
	  color: white;
}

.button-general {
	  background: #FE9191;
	  border: 3px solid #fff;
	  border-radius: 7px;
	  color: white;
	  font-size: 15px;
	  font-weight: bold;
	  padding: 2px 4px;
	  position: relative;
	  text-transform: uppercase;
	  height: 45px;
	  width: 245px;
}

.button-title:hover {
	  background-color: #FEBABA;
	  border: 2px solid #FE9191;
	  border-radius: 7px;
	  color: white;
}

.button-title {
	  background: #fff;
	  border: 2px solid #FE9191;
	  border-radius: 7px;
	  color: #FE9191;
	  font-size: 12px;
	  margin: 0.3em auto;
	  padding: 2px 4px;
	  position: relative;
	  text-transform: uppercase;
	  height: 25px;
	  width: 120px;
}

.div-login {
	  background-image: url('../../images/login/login_border.PNG');
	  width: 337px;
	  height: 460px;
}

.check-box {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #FE9191;
	background-color: white;
	cursor: pointer;
}

span.character img:hover{
	border-radius:5px;
	border: 2px solid #FE9191;
}

.wrap {width:70%; text-align:center; margin:0px auto;}
.wrap div{width:100%; height:auto}