.nav-link.active {
	background: #FE9191;
	color: white;
}

.nav-link {
	border-radius: 3px;
	color: black;
	font-size: 22px;
	font-weight: bold;
}

.nav span {
	display: block;
	font-size: 14px;
	border-radius: 3px;
}

.tab-pane {
	margin-top: 5px;
}

.content-div {
	background: #FAF0F0;
	border-radius: 3px;
	padding: 20px;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.content-div span {
	display: block;
}



