
.container .nav span {
	display: block;
	font-size: 14px;
	border-radius: 3px;
}

.container .content-div {
	background: #FAF0F0;
	border-radius: 3px;
	padding: 20px;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.container .content-div span {
	display: block;
}

.container .content-div hr {
	border-top: 5px solid rgb(209, 209, 209);
}
.title {
	font-weight: bold;
	font-size: 1.5em;
	text-align:center;
	display: block;
}

.pinkText {
	font-size: larger;
	font-weight: bold;
	color: #FE9191;
	display: block;
}
.smallText {
	font-size: small;
	color: grey;
	display: block;
}

.mediumText {
	font-size: medium;  
	color: grey;
	display: block;
}

.pinkBold {
	color: #FE9191;
	font-weight: bold;
}


/****** 뒤로가기버튼 div **********/
.back-div {
	display: flex;
}


/************ 버튼 모음 ***********/
.pink-btn {
	background: #FE9191;
	border: none;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	color: white;
}

.white-btn {
	background: WHITE;
	border: none;
	border-radius: 3px;
	width: 50px;
	height: 30px;
	color: BLACK;
}

.join-btn {
	background: #FE9191;
	position: fixed;
	bottom: 94px;   
	left: 4%;    
	width: 92%;
	border: none;
	border-radius: 3px;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	color: white;
} 

.back-btn {
	background: url(../../images/icon/back.png) no-repeat;
	border: none;
	width: 48px;
	height: 48px;   
}


/************** 태그용 **********************/

.tags {
	position: absolute;
	right : 10%;
}

.join-tag {
	border: none;
    width: 60px;
    border-radius: 10px;
    font-weight: 700;
    background: #5ab7a5;
    text-align: center;
    color: white;
    font-size: medium;
}


.dDay-tag {
	border: none;
    width: 60px;
    border-radius: 10px;
    font-weight: 700;
    background: #FE9191;
    text-align: center;
    color: white;
    font-size: medium;
}

